<!-- Success Modal -->
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="success-modal-label" style=" z-index: 9992;" aria-hidden="true">
    <div class="modal-dialog" role="document">
		<div class="modal-content" style="background-color: #7aff9785; padding: 40px;">
            <div class="modal-header text-center " style="  display: flex;justify-content: center;align-items: center;">
                <img src="~/assets/img/success.png" alt="" width="50" height="50">
            </div>
            <div class="modal-body text-center">
                <h3 id="success-modal-text"></h3>
            </div>
        </div>
    </div>
</div>

<!--Error Modal -->
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style=" z-index: 9991;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="  background-color: #ff000021;padding: 40px;">
            <div class="modal-header text-center " style="  display: flex;justify-content: center;align-items: center;">
                <img src="~/assets/img/failed.png" alt="" width="50" height="50">
            </div>
            <div class="modal-body text-center" style="  display: flex;justify-content: center;align-items: center;">
                <h3 id="error-modal-text"></h3>
            </div>
        </div>
    </div>
</div>

<!-- Signin modal-->
<div class="modal fade bd-example-modal-lg" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" border="50px">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="content">
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<form asp-controller="Account" asp-action="Login" id="Login-form" method="post">
									<div class="row">
										<div class="col-12">
											<div class="form-heading">
												<h4>S'identifier :</h4>
											</div>
										</div>
										<div class="col-12 col-md-12 col-xl-12">
											<div class="form-group local-forms">
												<label for="User">Email ou Nom d'utilisateur <span class="login-danger">*</span></label>
												<input class="form-control" type="email" id="Email" placeholder="Email">
											</div>
										</div>
										<div class="col-12 col-md-12 col-xl-12">
											<div class="form-group local-forms">
												<label for="Pass">Mot de passe <span class="login-danger">*</span></label>
												<input class="form-control" type="password" id="password" placeholder="Mot de passe">
											</div>
										</div>
										<div class="col-12">
											<div class="doctor-submit text-center">
												<button type="button" class="btn btn-primary submit-form me-2" onclick="Submit_Login()">S'identifier</button>
												<button type="button" class="btn btn-primary Annuler-form" data-bs-dismiss="modal">Annuler</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Delete modal-->
<div id="delete_modal" class="modal fade delete-modal" style="z-index: 9999;" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body text-center">
				<img src="~/assets/img/sent.png" alt="" width="50" height="46">
				<h3 id="delete-text"></h3>
				<div class="m-t-20" id="m-t-20">
					<button style="margin: 10px;" type="submit" class="btn btn-danger" id="delete-modal-btn">Oui</button>
					<a style="margin: 10px;" href="#" class="btn btn-white" data-bs-dismiss="modal">Non</a></div>
				</div>
			</div>
		</div>
	</div>

<!-- PDFview modal-->
<div class="modal fade bd-example-modal-lg" id="pdf-modal" tabindex="-1" role="dialog" style=" z-index: 9900;" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<iframe src="" height="650" width="100%" title="Iframe" id="PDFiframe"></iframe>
		</div>
	</div>
</div>

<!--All-Operation-list-Modal -->
<div class="modal fade bd-example-modal-lg" id="operation-list-modal" tabindex="-1" role="dialog" style=" z-index: 9702;" ;" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="content" style="padding: 30px 30px 0px 30px;">
				<div class="form-heading ">
					<div class="doctor-table-blk" style="margin: 0px 17px;">
						<h3 class="text-center">Type d'operation disponible :</h3>
						<div class="doctor-search-blk">
							<div class="top-nav-search table-search-blk">
								<div class="top-nav-search table-search-blk">
									<input type="text" id="search-input" class="form-control" placeholder="Recherche...">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive" style="padding: 15px;">
					<input type="hidden" value="no" id="check_edit" />
					<table class="table border-3 custom-table" id="oplist-table">
						<thead>
							<tr>
								<th class="text-center" style="background-color: #f4f5fa;">Nom d'operation </th>
								<th class="text-center" style="background-color: #f4f5fa;">Action </th>
							</tr>
						</thead>
						<tbody id="operation-table-body">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@*
<!-- Add user-role-doctor modal-->
<div class="modal fade bd-example-modal-lg" id="add-duser-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="content" style="padding:30px;">
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a>S'inscrire </a></li>
								<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
								<li class="breadcrumb-item active">Avec un role Medecin !</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /Page Header -->
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<form asp-controller="Account" asp-action="AddDoctor_User" id="add-duser-form" method="post">
									<div class="row">
										<input type="hidden" id="addontime" value="true">
										<div class="col-12 col-md-6 col-xl-4">
											<div class="form-group local-forms">
												<label>Nom<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="Nom" id="Nom" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-4">
											<div class="form-group local-forms">
												<label>Prenom<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="Prenom" id="Prenom" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-4">
											<div class="form-group local-forms">
												<label>Matricule<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="Matricule" id="Matricule" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Nom d'utilisateur<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="UserName" id="UserName" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Telephone<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="Telephonea" id="Telephonea" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Email <span class="login-danger">*</span></label>
												<input class="form-control" type="email" name="Email" id="Email" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms cal-icon">
												<label>Date de naissance<span class="login-danger">*</span></label>
												<input class="form-control datetimepicker" name="DateN" id="DateN" oninvalid="this.setCustomValidity('Veuillez entrer une date de la forme jj/mm/aaaa.')" pattern="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}" type="text" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Lieu de naissance <span class="login-danger">*</span></label>
												<input class="form-control" name="LieuN" id="LieuN" type="text" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group select-gender">
												<label class="gen-label">Sexe<span class="login-danger">*</span></label>
												<div class="form-check-inline">
													<label class="form-check-label">
														<input type="radio" name="Sexe" class="form-check-input" value="Homme" required>Homme
													</label>
												</div>
												<div class="form-check-inline">
													<label class="form-check-label">
														<input type="radio" name="Sexe" class="form-check-input" value="Femme">Femme
													</label>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-12 col-xl-12">
											<div class="form-group select-gender">
												<label class="gen-label">Situation Conjugale<span class="login-danger">*</span></label>
												<div class="form-check-inline">
													<label class="form-check-label">
														<input type="radio" name="SituationCE" class="form-check-input" value="Celibataire" required>Célibataire
													</label>
												</div>
												<div class="form-check-inline">
													<label class="form-check-label">
														<input type="radio" name="SituationCE" class="form-check-input" value="Marie">Marié(e)
													</label>
												</div>
												<div class="form-check-inline">
													<label class="form-check-label">
														<input type="radio" name="SituationCE" class="form-check-input" value="Divorce">Divorcé(e)
													</label>
												</div>
												<div class="form-check-inline">
													<label class="form-check-label">
														<input type="radio" name="SituationCE" class="form-check-input" value="Veuf">Veuf(e)
													</label>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-12">
											<div class="form-group local-forms">
												<label>Addresse<span class="login-danger">*</span></label>
												<textarea class="form-control" name="Adresse" id="Adresse" rows="3" cols="30" required></textarea>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Ville<span class="login-danger">*</span></label>
												<input class="form-control" name="Ville" id="Ville" placeholder="" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Code Postal<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="CodePostal" id="CodePostale" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Mot de passe<span class="login-danger">*</span></label>
												<input class="form-control" type="password" name="Password" id="Password" placeholder="" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Repeter le mot de passe<span class="login-danger">*</span></label>
												<input class="form-control" type="password" name="Password" id="Password1" placeholder="" required>
											</div>
										</div>
										<div class="col-12">
											<div class="doctor-submit text-end">
												<button type="submit" class="btn btn-primary submit-form me-2">S'inscrire</button>
												<button type="button" class="btn btn-primary cancel-form" data-bs-dismiss="modal">Annuler</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Add user-role-tech modal-->
<div class="modal fade bd-example-modal-lg" id="add-tuser-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" border="50px">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="content" style="padding:30px;  ">
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a>S'inscrire </a></li>
								<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
								<li class="breadcrumb-item active">Avec un role technicien !</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /Page Header -->
				<div class="row" style="background-image: url('~/wwwroot/assets/img/morning-img-03.png');">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<form asp-controller="Account" asp-action="AddTech_User" id="add-tuser-form" method="post">
									<div class="row">
										<input type="hidden" id="addontime" value="true">
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Nom d'utilisateur<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="UserName" id="UserName" placeholder="" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Nom<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="Nom" id="Nom" placeholder="" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Prenom<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="Prenom" id="Prenom" placeholder="" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group select-gender">
												<label class="gen-label">Sexe<span class="login-danger">*</span></label>
												<div class="form-check-inline">
													<label class="form-check-label">
														<input type="radio" name="Sexe" class="form-check-input" value="Homme" required>Homme
													</label>
												</div>
												<div class="form-check-inline">
													<label class="form-check-label">
														<input type="radio" name="Sexe" class="form-check-input" value="Femme">Femme
													</label>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-12 col-xl-12">
											<div class="form-group local-forms">
												<label>Mot de passe<span class="login-danger">*</span></label>
												<input class="form-control" type="password" name="Password" id="Password" placeholder="" required>
											</div>
										</div>
										<div class="col-12 col-md-12 col-xl-12">
											<div class="form-group local-forms">
												<label>Repeter le mot de passe<span class="login-danger">*</span></label>
												<input class="form-control" type="password" name="Password" id="Password1" placeholder="" required>
											</div>
										</div>
										<div class="col-12">
											<div class="doctor-submit text-end">
												<button type="submit" class="btn btn-primary submit-form me-2">S'inscrire</button>
												<button type="button" class="btn btn-primary cancel-form" data-bs-dismiss="modal">Annuler</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Add admin-user modal-->
<div class="modal fade bd-example-modal-lg" id="add-auser-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" border="50px">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="content" style="padding:30px;  ">
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a>S'inscrire </a></li>
								<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
								<li class="breadcrumb-item active">Avec un role Admin !</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /Page Header -->
				<div class="row" style="background-image: url('~/wwwroot/assets/img/morning-img-03.png');">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<form asp-controller="Account" asp-action="AddAdmin_User" id="add-auser-form" method="post">
									<div class="row">
										<input type="hidden" id="addontime" value="true">
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Nom d'utilisateur<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="UserName" id="UserName" placeholder="" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Nom<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="aNom" id="Nom" placeholder="" required>
											</div>
										</div>
										<div class="col-12 col-md-6 col-xl-6">
											<div class="form-group local-forms">
												<label>Prenom<span class="login-danger">*</span></label>
												<input class="form-control" type="text" name="aPrenom" id="Prenom" placeholder="" required>
											</div>
										</div>
										<div class="col-12 col-md-12 col-xl-12">
											<div class="form-group local-forms">
												<label>Mot de passe<span class="login-danger">*</span></label>
												<input class="form-control" type="password" name="Password" id="Password" placeholder="" required>
											</div>
										</div>
										<div class="col-12 col-md-12 col-xl-12">
											<div class="form-group local-forms">
												<label>Repeter le mot de passe<span class="login-danger">*</span></label>
												<input class="form-control" type="password" name="Password" id="Password1" placeholder="" required>
											</div>
										</div>
										<div class="col-12">
											<div class="doctor-submit text-end">
												<button type="submit" class="btn btn-primary submit-form me-2">S'inscrire</button>
												<button type="button" class="btn btn-primary cancel-form" data-bs-dismiss="modal">Annuler</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
*@