<!-- Success Modal -->
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="success-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #00ff0030; padding: 40px;">
            <div class="modal-header text-center " style="  display: flex;justify-content: center;align-items: center;">
                <img src="~/assets/img/success.png" alt="" width="50" height="50">
            </div>
            <div class="modal-body text-center">
                <h3 id="success-modal-text"></h3>
            </div>
        </div>
    </div>
</div>


<!--Error Modal -->
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="  background-color: #ff000021;padding: 40px;">
            <div class="modal-header text-center " style="  display: flex;justify-content: center;align-items: center;">
                <img src="~/assets/img/failed.png" alt="" width="50" height="50">
            </div>
            <div class="modal-body text-center" style="  display: flex;justify-content: center;align-items: center;">
                <h3 id="error-modal-text"></h3>
            </div>
        </div>
    </div>
</div>
