<!--Edit-Operation-list-Modal -->
<div class="modal fade bd-example-modal-lg" id="operation-salle-list-modal" tabindex="-1" role="dialog" style=" z-index: 9900;" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="content" style="padding: 30px 30px 0px 30px;">
				<div class="form-heading ">
					<div class="doctor-table-blk" style="margin: 0px 17px;">
						<h3 class="text-center">Type d'operation disponible :</h3>
						<div class="doctor-search-blk">
							<div class="top-nav-search table-search-blk">
								<div class="top-nav-search table-search-blk">
									<input type="text" id="search-input" class="form-control" placeholder="Recherche...">
								</div>
							</div>
							<div class="add-group">
								<a href="#" id="add-op-btn" onclick="add_op_btn()" class="btn btn-primary add-pluss ms-2"><img src="/assets/img/icons/plus.svg" alt=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive" style="padding: 15px;">
					<table class="table border-3 custom-table" id="oplist-table">
						<thead>
							<tr>
								<th class="text-center" style="background-color: #f4f5fa;">Nom d'operation </th>
								<th class="text-center" style="background-color: #f4f5fa;">Action </th>
							</tr>
						</thead>
						<tbody id="operation-salle-table-body">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!--All-Operation-list-Modal -->
<div class="modal fade bd-example-modal-lg" id="operation-list-modal" tabindex="-1" role="dialog" style=" z-index: 9702;" ;" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="content" style="padding: 30px 30px 0px 30px;">
				<div class="form-heading ">
					<div class="doctor-table-blk" style="margin: 0px 17px;">
						<h3 class="text-center">Type d'operation disponible :</h3>
						<div class="doctor-search-blk">
							<div class="top-nav-search table-search-blk">
								<div class="top-nav-search table-search-blk">
									<input type="text" id="search-input" class="form-control" placeholder="Recherche...">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive" style="padding: 15px;">
					<input type="hidden" value="no" id="check_edit"/>
					<table class="table border-3 custom-table" id="oplist-table">
						<thead>
							<tr>
								<th class="text-center" style="background-color: #f4f5fa;">Nom d'operation </th>
								<th class="text-center" style="background-color: #f4f5fa;">Action </th>
							</tr>
						</thead>
						<tbody id="operation-table-body">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Consult-Doctor-list-Modal -->
<div class="modal fade bd-example-modal-lg" id="doctor-list-modal" tabindex="-1" role="dialog" style=" z-index: 9701;" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="content" style="padding: 30px 30px 0px 30px;">
				<div class="form-heading ">
					<div class="doctor-table-blk" style="margin: 0px 17px;">
						<h3 class="text-center">Les Medecins disponible :</h3>
						<div class="doctor-search-blk">
							<div class="top-nav-search table-search-blk">
								<div class="top-nav-search table-search-blk">
									<input type="text" id="search-input" class="form-control" placeholder="Recherche...">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive" style="padding: 15px;">
					<table class="table border-3 custom-table" id="oplist-table">
						<thead>
							<tr>
								<th class="text-center" style="background-color: #f4f5fa;">Nom d'operation </th>
								<th class="text-center" style="background-color: #f4f5fa;">Action </th>
							</tr>
						</thead>
						<tbody id="doctor-table-body">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
